{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/media/css/styleC.css">
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
{# <div><img class="flex-image" src="/media/younes.jpg" alt=""></div> #}
<form class="form" method="post">
     {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1>Connectez-vous</h1> 
    <input placeholder="Email" type="email" value="{{ last_username }}" name="email" class="input" autocomplete="email" required autofocus>
    <input placeholder="Mot de passe" type="password" name="password" class="input" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <button class="btn " type="submit">
        Connexion
    </button> 
    <a class="btn"  href="{{ path('app_register')}}"  type="submit">Inscription</a> 
</form>
{% endblock %}
