.inputN{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
}

.inputNM{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    height: 300px;
}
.required{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h1{
    display: flex;
    justify-content: center;
}

img{
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Times New Roman', Times, serif;
}